/* 한글폰트 */
@font-face {
    font-family: 'SpoqaSans';
    src: url(../font/spoqa/SpoqaHanSansNeo-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'SpoqaSans';
    src: url(../font/spoqa/SpoqaHanSansNeo-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'SpoqaSans';
    src: url(../font/spoqa/SpoqaHanSansNeo-Bold.ttf) format('truetype');
    font-weight: 700;
}
